.main {
  background-color: #62af2c;
}
.mainImage,
.food1 {
  height: 200px;
}
.mtitle {
  color: #c5d1bc;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 80px;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbox {
  display: flex;
  justify-content: space-between;
  background-color: #323b2c;
  flex-wrap: wrap;
}
.navgate {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
}
.nav {
  display: flex;
}
.home,
.about,
.location,
.about,
.specials,
.num,
.contact {
  margin: 15px;
  font-size: 20px;
  color: #fbee0f;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.phone,
.email {
  color: #fbee0f !important;
}

.header-images {
  width: 100%;
  height: 100%;
}
.fpics {
  display: flex;

  justify-content: center;
}
.logo {
  width: 150px;
  border-radius: 50%;
}
.faceBook {
  border-radius: 50%;
  width: 60%;
}
.footer {
  display: flex;
  justify-content: center;
}
.facebook-footer{
  text-align: center;

}
.num {
  display: flex;
}
.home-flex {
  display: flex;
  justify-content: center;
}
.slogan {
  color: #c5d1bc;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px #323b2c;
}


.home-image{
 
}
.home-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15%;
  font-size: 30px;
  color: #c5d1bc;
  text-shadow: 2px 2px #323b2c
}
.home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  margin: 20px;
}
.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*media to change for differnt screens*/
@media screen and (max-width: 1000px) {
  .fpics {
    display: none;
  }
  .navbox {
    flex-direction: column;
    align-items: center;
  }
  .navgate {
    display: flex;
  }
  .mtitle {
    display: none;
  }
  .logo {
    width: 200px;
  }
  .home-flex {
    display: flex;
    flex-direction: column;
  }
}
@keyframes example {
  0%   {background-color:#c5d1bc; left:0px; top:0px;}
  25%  {background-color:#323b2c; left:200px; top:0px;}
  50%  {background-color:black; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:#fbee0f; left:0px; top:0px;}
}
.home-image {
  border-radius: 20%;
  margin: 10px;
  background-color: #323b2c;
  animation-name: example;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
