body {
    margin: 0px;
    padding: 0px;
  }
  html {
    margin: 0px;
    padding: 0px;
  }
  .main {
    background-color: #5d625a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  .logo {
    height: 75%;
    width: 75%;
    border-radius: 50%;

   
  }
  .logo-box{
    display: flex;
    justify-content: center;
    text-align: center;
}
  .nav-all{
    display: flex;
  }


.faceBook {
  border-radius: 50%;
  width: 60%;
}
.footer {
  display: flex;
  justify-content: center;
  
}
.facebook-footer {
  text-align: center;
  width: 15%;
}